<div class="form-view">

  <div class="left-sidebar">
    <select [ngModel]="selectedDay" (ngModelChange)="onChangeDay($event)">
      <option *ngFor="let day of days" [value]="day">{{dayName(day)}}</option>
    </select>

    <app-time-list [cards]="cards"></app-time-list>
  </div>
  
  <div class="forms">

    <div *ngFor="let form of forms; let i = index;" class = "column">
      <div class="form-header" [routerLink]="['/day', { formId: i }]" (click)="changeToDayView($event)">Form {{formName(form)}}</div>
      <app-card-list [cards]="selectedDayFilter(form)"></app-card-list>
    </div>

  </div>

</div>
