.form-view {
  display: flex;
  flex-direction: row;

	.left-sidebar {
		width: 15%;
		max-width: 70px;
	}
	
	select {
		height: 35px;
		width: 100%;
	}

	.forms {
		display: flex;
		flex-direction: row;
		width: 85%;

		.form-header {
			background-color: white;
			color: color;
			height: 35px;
			text-align: center;
			padding: 1%;
			cursor: pointer;
			border: 2px solid #999999;
		}

		.column {
			width: calc(100%/3);
		}
	}


}