<div class="day-view">

  <div class="left-sidebar">
    <select [ngModel]="selectedForm" (ngModelChange)="onChangeForm($event)">
      <option *ngFor="let form of forms" [value]="form">Form {{formName(form)}}</option>
    </select>

    <app-time-list></app-time-list>
  </div>
  
  <div class="days">

    <div *ngFor="let day of days; let i = index;">
      <div class="day-header" [routerLink]="['/form', { dayId: i }]" (click)="changeToFormView($event)">{{dayName(day)}}</div>
      <app-card-list [cards]="selectedFormFilter(day)"></app-card-list>
    </div>

  </div>

</div>
