<div class="day-view">

  <div class="left-sidebar">
    <select (change)="onChangeForm($event.target.value)">
      <option *ngFor="let form of forms" [value]="form">Form {{formName(form)}}</option>
    </select>

    <app-time-list></app-time-list>
  </div>
  
  <div class="days">

    <div *ngFor="let day of ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']">
      <div class="day-header">{{day}}</div>
      <app-card-list [cards]="formFilter(cards)"></app-card-list>
    </div>

  </div>

</div>
